# This Jupyter Notebook has the goal to analyse other options to the main CA.

In [1]:
%matplotlib inline

import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

import seaborn as sns

sns.set()

from sklearn.preprocessing import StandardScaler

from sklearn.decomposition import PCA

from sklearn import preprocessing

from sklearn.model_selection import train_test_split

In [2]:
pip install mglearn

Requirement already satisfied: mglearn in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (0.2.0)
Requirement already satisfied: numpy in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from mglearn) (1.24.3)
Requirement already satisfied: matplotlib in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from mglearn) (3.7.1)
Requirement already satisfied: scikit-learn in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from mglearn) (1.3.0)
Requirement already satisfied: pandas in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from mglearn) (1.5.3)
Requirement already satisfied: pillow in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from mglearn) (9.4.0)
Requirement already satisfied: cycler in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from mglearn) (0.11.0)
Requirement already satisfied: imageio in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from mglearn) (2.31.1)
Requirement already satisfied: joblib in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from mglearn) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from matplotlib->mglearn) (1.0.5)
Requirement already satisfied: fonttools>=4.22.0 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from matplotlib->mglearn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from matplotlib->mglearn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from matplotlib->mglearn) (23.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from matplotlib->mglearn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from matplotlib->mglearn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from pandas->mglearn) (2022.7)
Requirement already satisfied: scipy>=1.5.0 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from scikit-learn->mglearn) (1.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from scikit-learn->mglearn) (2.2.0)
Requirement already satisfied: six>=1.5 in /Users/izaiaszacca/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib->mglearn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
ca1 = pd.read_csv("aps_failure_set.csv")

In [4]:
ca1.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,76698,na,2130706438,280,0,0,0,0,0,...,1240520,493384,721044,469792,339156,157956,73224,0,0,0
1,neg,33058,na,0,na,0,0,0,0,0,...,421400,178064,293306,245416,133654,81140,97576,1500,0,0
2,neg,41040,na,228,100,0,0,0,0,0,...,277378,159812,423992,409564,320746,158022,95128,514,0,0
3,neg,12,0,70,66,0,10,0,0,0,...,240,46,58,44,10,0,0,0,4,32
4,neg,60874,na,1368,458,0,0,0,0,0,...,622012,229790,405298,347188,286954,311560,433954,1218,0,0

In [44]:
ca1.drop([0, 1, 2, 3, 4, 5, 6], axis = 0)

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
7,0,102960,NaN,2.130706e+09,116.0,0.0,0.0,0.0,0.0,0.0,...,715518.0,384948.0,915978.0,1052166.0,1108672.0,341532.0,129504.0,7832.0,0.0,0.0
8,0,78696,NaN,0.000000e+00,NaN,0.0,0.0,0.0,0.0,0.0,...,699290.0,362510.0,1190028.0,1012704.0,160090.0,63216.0,41202.0,4.0,0.0,0.0
9,1,153204,0.0,1.820000e+02,NaN,0.0,0.0,0.0,0.0,0.0,...,129862.0,26872.0,34044.0,22472.0,34362.0,0.0,0.0,0.0,0.0,0.0
10,0,39196,NaN,2.040000e+02,170.0,0.0,0.0,0.0,0.0,0.0,...,198386.0,99614.0,215734.0,189966.0,219996.0,208724.0,463790.0,34054.0,0.0,0.0
11,0,45912,NaN,0.000000e+00,454.0,0.0,0.0,0.0,0.0,0.0,...,495400.0,278660.0,544710.0,438256.0,249386.0,73356.0,51344.0,2008.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,0,153002,NaN,6.640000e+02,186.0,0.0,0.0,0.0,0.0,0.0,...,998500.0,566884.0,1290398.0,1218244.0,1019768.0,717762.0,898642.0,28588.0,0.0,0.0
59996,0,2286,NaN,2.130707e+09,224.0,0.0,0.0,0.0,0.0,0.0,...,10578.0,6760.0,21126.0,68424.0,136.0,0.0,0.0,0.0,0.0,0.0
59997,0,112,0.0,2.130706e+09,18.0,0.0,0.0,0.0,0.0,0.0,...,792.0,386.0,452.0,144.0,146.0,2622.0,0.0,0.0,0.0,0.0
59998,0,80292,NaN,2.130706e+09,494.0,0.0,0.0,0.0,0.0,0.0,...,699352.0,222654.0,347378.0,225724.0,194440.0,165070.0,802280.0,388422.0,0.0,0.0
59999,0,40222,NaN,6.980000e+02,628.0,0.0,0.0,0.0,0.0,0.0,...,440066.0,183200.0,344546.0,254068.0,225148.0,158304.0,170384.0,158.0,0.0,0.0

https://www.youtube.com/watch?v=Zj5TDnR_1vU

https://www.youtube.com/watch?v=_XAlbnr8vmo

https://www.youtube.com/watch?v=P8M9KFRBWGg

https://www.youtube.com/watch?v=hbixbMoDS6c

In [14]:
miss_vals = ["na"]

In [15]:
ca1 = pd.read_csv("aps_failure_set.csv", na_values = miss_vals)

In [16]:
ca1['class'].replace('neg', 0, inplace = True)
ca1['class'].replace('pos', 1, inplace = True)

In [17]:
isnull = ca1.isnull().sum()

nperc = (isnull / (len(ca1))) * 100

more_than_50 = nperc[nperc > 50]

print(more_than_50)

ab_000    77.215000
bm_000    65.915000
bn_000    73.348333
bo_000    77.221667
bp_000    79.566667
bq_000    81.203333
br_000    82.106667
cr_000    77.215000
dtype: float64

In [18]:
ca1_d = ca1.dropna(axis = 0)

In [19]:
ca1_d.head(3)

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
16,0,31300,0.0,784.0,740.0,0.0,0.0,0.0,0.0,0.0,...,798872.0,112724.0,51736.0,7054.0,6628.0,27600.0,2.0,2.0,0.0,0.0
179,0,97000,0.0,378.0,160.0,0.0,0.0,0.0,0.0,0.0,...,1078982.0,313334.0,511330.0,552328.0,871528.0,871104.0,1980.0,42.0,0.0,0.0
225,0,124656,2.0,278.0,170.0,0.0,0.0,0.0,0.0,0.0,...,1205696.0,866148.0,697610.0,700400.0,1900386.0,437532.0,3680.0,0.0,0.0,0.0

In [20]:
ca1_d.count()

class     591
aa_000    591
ab_000    591
ac_000    591
ad_000    591
         ...
ee_007    591
ee_008    591
ee_009    591
ef_000    591
eg_000    591
Length: 171, dtype: int64

In [21]:
ca1_class = ca1_d[["class"]]

ca1_class.head(3)

     class
16       0
179      0
225      0

In [22]:
ca1_split = ca1_d.drop(ca1_class, axis = 1)

ca1_split.head()

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
16,31300,0.0,784.0,740.0,0.0,0.0,0.0,0.0,0.0,20386.0,...,798872.0,112724.0,51736.0,7054.0,6628.0,27600.0,2.0,2.0,0.0,0.0
179,97000,0.0,378.0,160.0,0.0,0.0,0.0,0.0,0.0,84938.0,...,1078982.0,313334.0,511330.0,552328.0,871528.0,871104.0,1980.0,42.0,0.0,0.0
225,124656,2.0,278.0,170.0,0.0,0.0,0.0,0.0,0.0,194792.0,...,1205696.0,866148.0,697610.0,700400.0,1900386.0,437532.0,3680.0,0.0,0.0,0.0
394,281324,2.0,3762.0,2346.0,0.0,0.0,4808.0,215720.0,967572.0,2037438.0,...,624606.0,269976.0,638838.0,1358354.0,819918.0,262804.0,2824.0,0.0,0.0,0.0
413,43482,0.0,1534.0,1388.0,0.0,0.0,0.0,0.0,40024.0,493856.0,...,497196.0,121166.0,202272.0,232636.0,645690.0,50.0,0.0,0.0,0.0,0.0

In [23]:
X = ca1_split

y = ca1_class

In [24]:
X.head(3)

,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,ag_003,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
16,31300,0.0,784.0,740.0,0.0,0.0,0.0,0.0,0.0,20386.0,...,798872.0,112724.0,51736.0,7054.0,6628.0,27600.0,2.0,2.0,0.0,0.0
179,97000,0.0,378.0,160.0,0.0,0.0,0.0,0.0,0.0,84938.0,...,1078982.0,313334.0,511330.0,552328.0,871528.0,871104.0,1980.0,42.0,0.0,0.0
225,124656,2.0,278.0,170.0,0.0,0.0,0.0,0.0,0.0,194792.0,...,1205696.0,866148.0,697610.0,700400.0,1900386.0,437532.0,3680.0,0.0,0.0,0.0

In [25]:
y.value_counts()

class
0        515
1         76
dtype: int64

In [26]:
y.head(30)

      class
16        0
179       0
225       0
394       1
413       1
625       0
649       1
710       0
749       1
750       0
830       1
888       0
1019      0
1029      0
1133      0
1398      1
1452      0
1491      0
1581      0
1889      0
1977      0
2095      0
2264      0
2360      0
2369      0
2520      1
2710      0
2721      0
2886      0
3036      0

# THE PROBLEM IS THIS INDEX THAT CARRIED OUT FROM THE ORIGINAL DATASET. HOW DO I DEAL WITH THIS?

In [27]:
sc = StandardScaler()

X_scaled = sc.fit_transform(X)

In [28]:
pca = PCA(n_components = 75)

ca1_pca = pca.fit_transform(X_scaled)

In [29]:
ca1_pca = pd.DataFrame(ca1_pca)

ca1_pca.head(30)

,0,1,2,3,4,5,6,7,8,9,...,65,66,67,68,69,70,71,72,73,74
0,-1.111123,2.276933,0.706083,-1.250631,1.051322,-3.182071,-4.286959,4.057869,-0.090196,-1.334370,...,1.203269,0.795910,0.153403,-1.573155,0.284318,-0.173230,-0.978459,-0.834152,-0.434277,0.053058
1,-2.309436,2.995928,1.623934,-0.834248,1.037678,-0.092019,-1.317454,0.490783,-1.454821,-0.161798,...,-0.000359,0.126763,0.174721,-0.060998,-0.129588,-0.042475,-0.218155,0.235098,0.330113,0.153902
2,-2.449822,2.297508,-2.460531,0.503330,-0.752824,0.349978,0.498797,-0.211759,0.108872,-0.342757,...,0.320876,-1.054473,0.441688,0.670836,0.107787,-0.487849,0.041479,-0.600006,0.012196,-0.302627
3,1.918746,-5.458546,-6.059951,-3.022337,7.215036,0.575386,4.422791,1.586910,1.838654,1.811756,...,-0.072161,-0.029820,0.515724,1.273392,0.774954,-0.411502,-0.305536,1.579243,1.013880,0.760208
4,5.309552,-6.227137,-12.639276,2.403150,4.367998,-0.227799,-7.776656,-0.167668,-3.531958,-3.447076,...,0.513489,0.927208,-0.357080,0.069956,-0.072619,-0.985947,0.648917,-0.035818,-0.124672,0.558206
5,-0.329047,0.827612,-0.525530,0.773114,-1.261662,0.433471,0.835379,-0.863798,1.480051,-0.276279,...,0.287558,-0.173722,0.302770,0.034224,-0.386036,-0.026840,-0.321081,-0.025982,-0.152938,0.157794
6,19.184882,-9.410497,3.507196,2.065965,-0.495334,-2.640419,0.906682,0.257034,2.349816,-0.958020,...,0.546663,1.820544,-0.362396,1.510543,-1.096507,-0.558376,-0.501974,-0.338877,0.573535,-0.038270
7,-4.105588,1.317859,1.624410,-0.704717,-0.198333,0.146778,1.448179,-0.485543,0.797368,-1.076170,...,0.207039,-0.370888,-0.143427,-0.084773,-0.129314,-0.241001,-0.073910,-0.311183,0.109468,-0.256868
8,3.443926,-1.608312,-2.910664,1.383017,4.048958,-1.527796,-7.287325,-2.973425,0.373699,-1.922035,...,-0.805995,-0.963349,-0.063368,-0.137025,-0.463137,0.484750,0.150100,-0.474449,0.440043,0.043357
9,-2.714686,-2.268091,-0.060062,-3.797859,-1.777448,-0.316600,0.755587,-0.985601,-1.374936,0.152993,...,-0.428241,0.456632,-0.232775,0.183964,0.535071,-0.197109,0.231583,-0.040316,0.361411,-0.130419
10,2.637231,-8.713768,-10.138314,-1.230070,0.554843,-2.934082,3.033810,-2.203274,3.949297,-2.671487,...,-0.519041,-0.454743,-1.460908,-0.330713,-0.538223,-0.085776,0.032137,0.643961,0.010378,-1.121780
11,-1.631961,2.622922,2.717306,0.475832,0.260017,0.353037,1.240261,0.617396,0.550642,-0.052288,...,0.109746,0.104576,-0.545978,0.041017,0.290097,0.141303,0.466590,-0.192233,-0.230027,-0.097378
12,-3.197143,2.739297,0.992500,-0.514639,0.735720,0.281167,0.409805,-0.229215,0.845646,-1.010082,...,-0.148119,0.064824,0.059122,-0.163200,-0.354054,-0.218536,0.025649,0.058454,0.155545,-0.237203
13,-2.066889,-3.585545,0.608326,-5.448770,-1.110702,-0.939015,1.119968,-1.594559,-1.213028,-0.136842,...,-0.118111,-0.536243,0.447679,0.050495,0.101480,0.248734,0.008623,0.055718,0.256141,0.429386
14,-1.673831,2.250960,1.167609,0.665596,-0.190562,1.060176,1.217714,0.523364,1.205222,-1.988323,...,-0.336243,0.465602,0.532744,0.187854,-0.472524,-0.112854,-0.189902,-0.206653,0.006554,0.028929
15,-4.221403,0.810165,0.037552,-3.590641,-0.317683,0.324938,-0.698632,0.647959,-0.804476,0.088155,...,0.390272,0.403154,0.169529,0.231499,-0.491022,-0.056834,-0.353090,-0.024706,0.101847,-0.359277
16,-2.496183,2.890928,1.505466,-0.866643,0.051089,0.133670,-0.608377,0.070453,1.042385,0.695818,...,-0.531060,0.803273,-0.689055,0.228811,0.335966,-0.070418,0.423736,-0.257831,-0.054343,0.068284
17,-3.848146,1.339483,0.127314,-0.323746,-0.018086,-0.596998,0.291333,0.062472,-0.683078,-0.185694,...,0.215489,0.125022,0.036944,-0.008164,-0.009846,-0.192065,0.284962,-0.131187,0.020547,-0.122008
18,-4.503682,1.906623,0.659811,0.270173,2.685843,-0.414354,0.080403,-2.189489,2.823468,0.553085,...,0.338440,-0.464615,0.381987,-0.489117,0.563649,0.276287,0.175550,-0.036581,-0.248335,0.306902
19,-2.561400,3.112157,2.612341,-0.060918,0.167078,0.652280,1.246269,0.252960,0.443231,-0.912290,...,0.201212,-0.221727,-0.078134,-0.302110,-0.328180,-0.205074,-0.125626,0.432146,0.031095,0.066252
20,-2.180465,0.921759,-5.564258,2.471740,-1.657797,0.681983,1.205147,0.669671,0.391389,-0.367516,...,-0.249398,0.394068,0.359518,0.102436,0.195939,-0.191051,0.027248,-0.156246,-0.077541,0.114945
21,5.344740,-1.799918,0.764524,2.937856,-1.459090,-0.381228,0.817116,-0.509698,-2.301911,-0.188308,...,1.034746,-0.510908,1.030306,0.011591,-0.230115,0.197725,-0.242214,0.002372,0.292815,0.231600
22,-2.914544,3.080009,1.139654,-0.321552,-0.605421,1.280765,0.796350,0.543387,0.562675,-0.732934,...,0.024032,-0.020756,-0.052387,0.174870,-0.540070,-0.090903,0.076858,0.065451,0.070356,-0.308428
23,-2.486787,2.270290,0.294060,-0.135564,-0.574920,0.550347,1.057571,0.127771,0.023332,-1.003037,...,-0.185147,0.076626,0.096831,-0.058261,-0.472694,0.356083,-0.338418,0.193334,0.360177,-0.214325
24,-2.663355,3.014291,2.955942,-0.420254,0.535653,-0.048739,0.169166,-0.062786,-0.458302,0.010092,...,0.397486,-0.420452,-0.586282,-0.349018,0.163698,-0.161413,-0.047778,0.410264,-0.287502,0.018334
25,3.101014,-2.085472,-9.815619,-1.404991,0.895350,-3.736866,-5.024973,5.023941,2.872332,-0.869451,...,-0.535286,-0.054379,-0.950206,0.748550,0.955483,0.801179,0.051664,-0.033096,-0.138429,1.186462
26,0.857580,1.356110,2.755880,-0.662577,0.810475,-0.047053,-2.044172,0.375554,-2.839261,-0.282966,...,-0.492808,-0.098141,0.096848,-0.159520,0.136451,0.095604,0.112285,-0.572072,0.739792,0.394423
27,-2.821606,-3.120990,-7.917004,-1.642599,-3.741075,0.718945,0.825252,-0.790737,-0.122266,-0.134468,...,0.090198,-0.029006,-0.095067,-0.154359,-1.683031,0.704000,0.285174,0.725143,0.576214,-0.861159
28,-2.685608,1.994563,-0.119758,-0.454659,-0.121722,-0.167047,0.536213,0.252507,-0.762012,-0.141019,...,-0.182580,-0.053289,0.018935,0.152779,0.108614,0.231739,-0.155582,-0.307890,-0.307314,0.358888
29,-2.881763,2.119533,0.896941,-1.297838,-0.515862,0.875918,0.665618,0.220680,0.087505,-0.699364,...,0.111932,-0.355613,0.145660,-0.005375,-0.152082,-0.183896,0.139308,0.201223,-0.171164,-0.049538

In [30]:
ca1_pca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 75 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       591 non-null    float64
 1   1       591 non-null    float64
 2   2       591 non-null    float64
 3   3       591 non-null    float64
 4   4       591 non-null    float64
 5   5       591 non-null    float64
 6   6       591 non-null    float64
 7   7       591 non-null    float64
 8   8       591 non-null    float64
 9   9       591 non-null    float64
 10  10      591 non-null    float64
 11  11      591 non-null    float64
 12  12      591 non-null    float64
 13  13      591 non-null    float64
 14  14      591 non-null    float64
 15  15      591 non-null    float64
 16  16      591 non-null    float64
 17  17      591 non-null    float64
 18  18      591 non-null    float64
 19  19      591 non-null    float64
 20  20      591 non-null    float64
 21  21      591 non-null    float64
 22  22      591 non-null    float64
 23  23      591 non-null    float64
 24  24      591 non-null    float64
 25  25      591 non-null    float64
 26  26      591 non-null    float64
 27  27      591 non-null    float64
 28  28      591 non-null    float64
 29  29      591 non-null    float64
 30  30      591 non-null    float64
 31  31      591 non-null    float64
 32  32      591 non-null    float64
 33  33      591 non-null    float64
 34  34      591 non-null    float64
 35  35      591 non-null    float64
 36  36      591 non-null    float64
 37  37      591 non-null    float64
 38  38      591 non-null    float64
 39  39      591 non-null    float64
 40  40      591 non-null    float64
 41  41      591 non-null    float64
 42  42      591 non-null    float64
 43  43      591 non-null    float64
 44  44      591 non-null    float64
 45  45      591 non-null    float64
 46  46      591 non-null    float64
 47  47      591 non-null    float64
 48  48      591 non-null    float64
 49  49      591 non-null    float64
 50  50      591 non-null    float64
 51  51      591 non-null    float64
 52  52      591 non-null    float64
 53  53      591 non-null    float64
 54  54      591 non-null    float64
 55  55      591 non-null    float64
 56  56      591 non-null    float64
 57  57      591 non-null    float64
 58  58      591 non-null    float64
 59  59      591 non-null    float64
 60  60      591 non-null    float64
 61  61      591 non-null    float64
 62  62      591 non-null    float64
 63  63      591 non-null    float64
 64  64      591 non-null    float64
 65  65      591 non-null    float64
 66  66      591 non-null    float64
 67  67      591 non-null    float64
 68  68      591 non-null    float64
 69  69      591 non-null    float64
 70  70      591 non-null    float64
 71  71      591 non-null    float64
 72  72      591 non-null    float64
 73  73      591 non-null    float64
 74  74      591 non-null    float64
dtypes: float64(75)
memory usage: 346.4 KB

In [31]:
ca1_concat = pd.concat([ca1_pca, y[["class"]]], axis = 1)

ca1_concat.head(30)

,0,1,2,3,4,5,6,7,8,9,...,66,67,68,69,70,71,72,73,74,class
0,-1.111123,2.276933,0.706083,-1.250631,1.051322,-3.182071,-4.286959,4.057869,-0.090196,-1.334370,...,0.795910,0.153403,-1.573155,0.284318,-0.173230,-0.978459,-0.834152,-0.434277,0.053058,NaN
1,-2.309436,2.995928,1.623934,-0.834248,1.037678,-0.092019,-1.317454,0.490783,-1.454821,-0.161798,...,0.126763,0.174721,-0.060998,-0.129588,-0.042475,-0.218155,0.235098,0.330113,0.153902,NaN
2,-2.449822,2.297508,-2.460531,0.503330,-0.752824,0.349978,0.498797,-0.211759,0.108872,-0.342757,...,-1.054473,0.441688,0.670836,0.107787,-0.487849,0.041479,-0.600006,0.012196,-0.302627,NaN
3,1.918746,-5.458546,-6.059951,-3.022337,7.215036,0.575386,4.422791,1.586910,1.838654,1.811756,...,-0.029820,0.515724,1.273392,0.774954,-0.411502,-0.305536,1.579243,1.013880,0.760208,NaN
4,5.309552,-6.227137,-12.639276,2.403150,4.367998,-0.227799,-7.776656,-0.167668,-3.531958,-3.447076,...,0.927208,-0.357080,0.069956,-0.072619,-0.985947,0.648917,-0.035818,-0.124672,0.558206,NaN
5,-0.329047,0.827612,-0.525530,0.773114,-1.261662,0.433471,0.835379,-0.863798,1.480051,-0.276279,...,-0.173722,0.302770,0.034224,-0.386036,-0.026840,-0.321081,-0.025982,-0.152938,0.157794,NaN
6,19.184882,-9.410497,3.507196,2.065965,-0.495334,-2.640419,0.906682,0.257034,2.349816,-0.958020,...,1.820544,-0.362396,1.510543,-1.096507,-0.558376,-0.501974,-0.338877,0.573535,-0.038270,NaN
7,-4.105588,1.317859,1.624410,-0.704717,-0.198333,0.146778,1.448179,-0.485543,0.797368,-1.076170,...,-0.370888,-0.143427,-0.084773,-0.129314,-0.241001,-0.073910,-0.311183,0.109468,-0.256868,NaN
8,3.443926,-1.608312,-2.910664,1.383017,4.048958,-1.527796,-7.287325,-2.973425,0.373699,-1.922035,...,-0.963349,-0.063368,-0.137025,-0.463137,0.484750,0.150100,-0.474449,0.440043,0.043357,NaN
9,-2.714686,-2.268091,-0.060062,-3.797859,-1.777448,-0.316600,0.755587,-0.985601,-1.374936,0.152993,...,0.456632,-0.232775,0.183964,0.535071,-0.197109,0.231583,-0.040316,0.361411,-0.130419,NaN
10,2.637231,-8.713768,-10.138314,-1.230070,0.554843,-2.934082,3.033810,-2.203274,3.949297,-2.671487,...,-0.454743,-1.460908,-0.330713,-0.538223,-0.085776,0.032137,0.643961,0.010378,-1.121780,NaN
11,-1.631961,2.622922,2.717306,0.475832,0.260017,0.353037,1.240261,0.617396,0.550642,-0.052288,...,0.104576,-0.545978,0.041017,0.290097,0.141303,0.466590,-0.192233,-0.230027,-0.097378,NaN
12,-3.197143,2.739297,0.992500,-0.514639,0.735720,0.281167,0.409805,-0.229215,0.845646,-1.010082,...,0.064824,0.059122,-0.163200,-0.354054,-0.218536,0.025649,0.058454,0.155545,-0.237203,NaN
13,-2.066889,-3.585545,0.608326,-5.448770,-1.110702,-0.939015,1.119968,-1.594559,-1.213028,-0.136842,...,-0.536243,0.447679,0.050495,0.101480,0.248734,0.008623,0.055718,0.256141,0.429386,NaN
14,-1.673831,2.250960,1.167609,0.665596,-0.190562,1.060176,1.217714,0.523364,1.205222,-1.988323,...,0.465602,0.532744,0.187854,-0.472524,-0.112854,-0.189902,-0.206653,0.006554,0.028929,NaN
15,-4.221403,0.810165,0.037552,-3.590641,-0.317683,0.324938,-0.698632,0.647959,-0.804476,0.088155,...,0.403154,0.169529,0.231499,-0.491022,-0.056834,-0.353090,-0.024706,0.101847,-0.359277,NaN
16,-2.496183,2.890928,1.505466,-0.866643,0.051089,0.133670,-0.608377,0.070453,1.042385,0.695818,...,0.803273,-0.689055,0.228811,0.335966,-0.070418,0.423736,-0.257831,-0.054343,0.068284,0.0
17,-3.848146,1.339483,0.127314,-0.323746,-0.018086,-0.596998,0.291333,0.062472,-0.683078,-0.185694,...,0.125022,0.036944,-0.008164,-0.009846,-0.192065,0.284962,-0.131187,0.020547,-0.122008,NaN
18,-4.503682,1.906623,0.659811,0.270173,2.685843,-0.414354,0.080403,-2.189489,2.823468,0.553085,...,-0.464615,0.381987,-0.489117,0.563649,0.276287,0.175550,-0.036581,-0.248335,0.306902,NaN
19,-2.561400,3.112157,2.612341,-0.060918,0.167078,0.652280,1.246269,0.252960,0.443231,-0.912290,...,-0.221727,-0.078134,-0.302110,-0.328180,-0.205074,-0.125626,0.432146,0.031095,0.066252,NaN
20,-2.180465,0.921759,-5.564258,2.471740,-1.657797,0.681983,1.205147,0.669671,0.391389,-0.367516,...,0.394068,0.359518,0.102436,0.195939,-0.191051,0.027248,-0.156246,-0.077541,0.114945,NaN
21,5.344740,-1.799918,0.764524,2.937856,-1.459090,-0.381228,0.817116,-0.509698,-2.301911,-0.188308,...,-0.510908,1.030306,0.011591,-0.230115,0.197725,-0.242214,0.002372,0.292815,0.231600,NaN
22,-2.914544,3.080009,1.139654,-0.321552,-0.605421,1.280765,0.796350,0.543387,0.562675,-0.732934,...,-0.020756,-0.052387,0.174870,-0.540070,-0.090903,0.076858,0.065451,0.070356,-0.308428,NaN
23,-2.486787,2.270290,0.294060,-0.135564,-0.574920,0.550347,1.057571,0.127771,0.023332,-1.003037,...,0.076626,0.096831,-0.058261,-0.472694,0.356083,-0.338418,0.193334,0.360177,-0.214325,NaN
24,-2.663355,3.014291,2.955942,-0.420254,0.535653,-0.048739,0.169166,-0.062786,-0.458302,0.010092,...,-0.420452,-0.586282,-0.349018,0.163698,-0.161413,-0.047778,0.410264,-0.287502,0.018334,NaN
25,3.101014,-2.085472,-9.815619,-1.404991,0.895350,-3.736866,-5.024973,5.023941,2.872332,-0.869451,...,-0.054379,-0.950206,0.748550,0.955483,0.801179,0.051664,-0.033096,-0.138429,1.186462,NaN
26,0.857580,1.356110,2.755880,-0.662577,0.810475,-0.047053,-2.044172,0.375554,-2.839261,-0.282966,...,-0.098141,0.096848,-0.159520,0.136451,0.095604,0.112285,-0.572072,0.739792,0.394423,NaN
27,-2.821606,-3.120990,-7.917004,-1.642599,-3.741075,0.718945,0.825252,-0.790737,-0.122266,-0.134468,...,-0.029006,-0.095067,-0.154359,-1.683031,0.704000,0.285174,0.725143,0.576214,-0.861159,NaN
28,-2.685608,1.994563,-0.119758,-0.454659,-0.121722,-0.167047,0.536213,0.252507,-0.762012,-0.141019,...,-0.053289,0.018935,0.152779,0.108614,0.231739,-0.155582,-0.307890,-0.307314,0.358888,NaN
29,-2.881763,2.119533,0.896941,-1.297838,-0.515862,0.875918,0.665618,0.220680,0.087505,-0.699364,...,-0.355613,0.145660,-0.005375,-0.152082,-0.183896,0.139308,0.201223,-0.171164,-0.049538,NaN

In [32]:
ca1_array = ca1_concat.values

In [33]:
ca1_array

array([[-1.11112342,  2.27693291,  0.70608328, ..., -0.43427673,
         0.05305826,         nan],
       [-2.30943563,  2.99592788,  1.62393352, ...,  0.33011288,
         0.15390154,         nan],
       [-2.44982231,  2.2975076 , -2.46053126, ...,  0.01219603,
        -0.30262708,         nan],
       ...,
       [        nan,         nan,         nan, ...,         nan,
                nan,  0.        ],
       [        nan,         nan,         nan, ...,         nan,
                nan,  0.        ],
       [        nan,         nan,         nan, ...,         nan,
                nan,  0.        ]])

In [34]:
X = ca1_array[:,1:74]

y = ca1_array[:,0]

In [35]:
X

array([[ 2.27693291,  0.70608328, -1.25063064, ..., -0.97845908,
        -0.83415229, -0.43427673],
       [ 2.99592788,  1.62393352, -0.83424782, ..., -0.21815517,
         0.23509833,  0.33011288],
       [ 2.2975076 , -2.46053126,  0.50333024, ...,  0.04147923,
        -0.60000588,  0.01219603],
       ...,
       [        nan,         nan,         nan, ...,         nan,
                nan,         nan],
       [        nan,         nan,         nan, ...,         nan,
                nan,         nan],
       [        nan,         nan,         nan, ...,         nan,
                nan,         nan]])

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 50)

In [37]:
from sklearn import metrics

from sklearn.metrics import classification_report

from sklearn.metrics import confusion_matrix

from sklearn.metrics import accuracy_score

from sklearn.model_selection import cross_val_score

In [38]:
from sklearn import svm

cls_svm = svm.SVC(kernel = "linear") 

cls_svm.fit(X_train, y_train)

y_pred = cls_svm.predict(X_test)

ValueError: Input X contains NaN.
SVC does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values