In [1]:
%matplotlib inline

In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.decomposition import PCA
from sklearn import preprocessing

In [47]:
wine = pd.read_csv("wine.csv")

In [48]:
wine.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [49]:
wine.shape

(177, 14)

In [50]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177 entries, 0 to 176
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       177 non-null    int64
 1   14.23   177 non-null    float64
 2   1.71    177 non-null    float64
 3   2.43    177 non-null    float64
 4   15.6    177 non-null    float64
 5   127     177 non-null    int64
 6   2.8     177 non-null    float64
 7   3.06    177 non-null    float64
 8   .28     177 non-null    float64
 9   2.29    177 non-null    float64
 10  5.64    177 non-null    float64
 11  1.04    177 non-null    float64
 12  3.92    177 non-null    float64
 13  1065    177 non-null    int64
dtypes: float64(11), int64(3)
memory usage: 19.5 KB

In [51]:
wine.isnull().sum()

1        0
14.23    0
1.71     0
2.43     0
15.6     0
127      0
2.8      0
3.06     0
.28      0
2.29     0
5.64     0
1.04     0
3.92     0
1065     0
dtype: int64

In [52]:

column_names = ['Cultivar', 'Alcohol', 'MalicAcid', 'Ash', 'AlcalinityOfAsh', 
                'Magnesium', 'TotalPhenols', 'Flavanoids', 'NonflavanoidPhenols', 
                'Proanthocyanins', 'ColorIntensity', 'Hue', 'OD280/OD315', 'Proline']


wine = pd.read_csv('wine.csv', header = None, names = column_names)

Specify the column names

Read the CSV file with specified column names

In [53]:
wine.head()

,Cultivar,Alcohol,MalicAcid,Ash,AlcalinityOfAsh,Magnesium,TotalPhenols,Flavanoids,NonflavanoidPhenols,Proanthocyanins,ColorIntensity,Hue,OD280/OD315,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

scaled_data = preprocessing.scale(wine.T)

StandardScaler().fit_transform(data.T)

another way to transpose

pca = PCA()

pca.fit(scaled_data)

pca_data = pca.transform(scaled_data)

ideas from this youtube video https://youtu.be/Lsue2gEM9D0?si=ucvv5fCWk_oyYT-L

maybe this video will be more helpful

https://www.youtube.com/watch?v=FgakZw6K1QQ

there are more

https://www.youtube.com/watch?v=fkf4IBRSeEc

https://www.youtube.com/watch?v=_UVHneBUBW0

In [24]:
cultivar = wine[["Cultivar"]]

Store the column 'DEATH_EVENT' in 'label'

In [25]:
cultivar.head()

   Cultivar
0         1
1         1
2         1
3         1
4         1

In [26]:
wine_new = wine.drop(["Cultivar"], axis = 1)

Drop the label column (Last)

In [27]:
X = wine_new           

y = cultivar

X = Features (independent variables) from the data set
Y = Target variable (Cultivar) for the prediction

In [28]:
y.value_counts()

Cultivar
2           71
1           59
3           48
dtype: int64

In [29]:
from sklearn.model_selection import train_test_split

Import train_test_split function

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 14)

Split dataset into training set and test set
80% training and 20% test

In [32]:
print('Total number of rows and columns for the complete dataset: ', X.shape, y.shape)

print('Number of rows and columns after splitting dataset: ', X_train.shape, X_test.shape, y_train.shape, y_test.shape )

Total number of rows and columns for the complete dataset:  (178, 13) (178, 1)
Number of rows and columns after splitting dataset:  (142, 13) (36, 13) (142, 1) (36, 1)

In [43]:
plot(x = X, y = y, style = '*')
plt.title('Square Feet vs Sale Price')
plt.xlabel('Square Feet')
plt.ylabel('Sale Price')
plt.show()

NameError: name 'plot' is not defined